# MPLAB Harmony
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
html/
**/nbproject/private/
**/nbproject/Package-*.bash
**/nbproject/Makefile-*
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
disassembly/
*.map

# Ceedling
firmware/test/simulation/out.txt
firmware/build/*
!firmware/build/.gitkeep
